@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

header nav div img{
    width: 110px;
}
.badge{
    text-decoration: none;
    cursor: pointer;
}
.navbarNav ul li a:hover{
    color: #fff;
    
} 
.linkTickets:hover{
    color:#16db65
}
.carrusel{
    height: 88vh;
    object-fit: cover;
}
.btn-orador:hover{
    color:#000;
}
.text-info{
    position: absolute;
    top: 40%;
    right: 10%;
}
.btn-send{
    background: #a7c957;
}
.footer-fondo{
    background-color: #15616d;
}
.link-footer a{
    text-decoration: none;
    color:#fff;
    padding:0 10px;  
}